@import './base/variables.scss';

.forgotpassword-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .error-message {
        padding: 10px;
    }
}

.buttonwrapper-next {
    padding: 0px;
    text-align: center;

}

.successful {
    color: white;
    color: map-get($map: $colors, $key:"secondary2");
    font-style: italic;
    font-weight: light;
    font-size: 14pt;
    padding: 15px;
    border-radius: 4px;
    line-height: 20px;
    word-spacing: 2px;
    border: 1px solid map-get($map: $colors, $key:"primary");
    margin-bottom: 10px;

    p {
        color: map-get($map: $activecolors, $key:"primary");
    }
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.go-to-gmail {
    display: flex;
    flex-flow: row-reverse;
    text-decoration: underline;
}