@import "assets/styles/colors.scss";

.createDepart{
    height: 82vh;
    flex-basis: 80%;
    padding: 1em;

    h3{
        font-weight: bold;
        color: $primary;
    }

    .createDepartForm{
        padding: 2em;
        border-radius: 1em;
        margin: 0;

        .namevalid{
            position: absolute;
            right: 2.25em;
        }

        .departName{
            padding: 0.5em;
            border: none;
            border-radius: 2em;
            border: #fff 2px solid;
        }

        .departName:hover{
            border: 2px solid $hover;
        }

        .departName:focus{
            border: 2px solid $active;
        }
    }

    // .submitBtn{
    //     width: 12em;
    //     height: 2.5em;
    //     color: #fff;
    //     display: block;
    //     margin: 0 2em;
    //     border-style: none;
    //     border-radius: 5px;
    //     background-color: $primary;       
        
    // }

    // .submitBtn:hover{
    //     background-color: $hover;
    // }

    // .submitBtn:active{
    //     background-color: $active;
    // }
}