@import "assets/styles/colors.scss";

@mixin desktop{
    @media screen and (max-width:1000px){
        @content;
    }
}
.ehs{
    margin: 1em;
    overflow: auto;

    h3,h4{
        color: $primary;
        font-weight: bold;
    }

    .back{
        width: 20%;
        float: right;

        .back-to-listuser{
            width: 90%;
            height: 2.5em;
            border: none;
            border-radius: 5px;
            color: #fff;
            box-shadow:0px 3px 4px 0px rgba(191,198,201,1);
            font-size: 0.75em;
            background-color: $primary;
        }

        .back-to-listuser:hover{            
            background-color: $hover;
        }
        .back-to-listuser:active{
            background-color: $active;
        }
    }
    

    
    .hr-hierarchy, .emp-hierarchy, .admin-hierarchy{
        display: flex;
        flex-flow: column nowrap;
        padding: 0 2em; 
        margin-top: 2.5em;

        .cards{
            display: flex; 
            flex-basis: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: space-between;
            margin-top: 1em;
        }      
    }
}

.card{
    flex-basis: 23%;
    background-color: #eee;
    border: none;
    box-shadow: 0px 4px 2px 0px rgba(170,170,170,1);
    margin: 0.5em 1%;

    @include desktop(){
        flex-basis: 48%;
    }
    .hr-image, .emp-image, .admin-image{
        width: 60%;
        border-radius: 100%;  
        overflow: hidden;
        margin : 0.5em auto;          
    }

    .admin-image{
        border: 0.25em $secondary-normal solid;

        .adminimg{
            width: 100%;
            height: 100%;
        }
    }

    .hr-image{
        border: 0.25em $seafoam solid;

        .hrimg{
            width: 100%;
            height: 100%;
        }
    }

    .emp-image{
        border: 0.25em $primary solid;

        .userimg{
            width: 100%;
            height: 100%;
        }
    }

    .card-body{
        padding: 0.5em 1.25rem;
        
        .name{
            text-align: center;
            font-weight: 500;
            font-size: 1em;
        }

        .info{
            display: flex;
            flex-direction: column;
            padding-top: 0.25em;
        }
    }  

}

.info{
   
    .detail{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.4em 0;
        
        .icons{
            font-size: 1em;
            color: #000;
            margin-right: 1em;
        }

        .detail-text{
            font-size: 0.6em;
            color: #000;
        }
    }

   
}