@import "../../assets/styles/base/reset";
@import "../../assets/styles/base//variables.scss";

.form-group {
    position: relative;

    .icons-name {
        color: rgb(151, 150, 150);
        position: absolute;
        bottom: 5px;
        right: 8px;
        padding-left: 10px;
        font-size: 22px;

    }

    .icons-name:hover {
        color: rgb(109, 108, 108);
    }

    .icons-name:click {
        color: rgb(194, 196, 197);

    }

    .input--label {
        margin-left: 5px;
        opacity: 0.4;
        position: static;
    }

    .input-form {
        box-shadow: 2px 5px 5px 0px rgba(191, 198, 201, 1);
        border: none;
        border-radius: 5px;
        outline: 1px outset rgba(219, 218, 218, 0.048);
        transition: all 0.6s;
        margin-top: 5px;
    }

    .input-form:focus,
    .input-form:valid,
    .input-form:active {
        box-shadow: none;
        box-shadow: 2px 5px 5px 0px rgba(191, 198, 201, 1);
        color: black;
        border-color: map-get($map: $activecolors, $key:"primary")
    }

    .input-form:not(:focus) {
        border: none;
        box-shadow: none;
        box-shadow: 2px 5px 5px 0px rgba(191, 198, 201, 1);
        color: map-get($map: $colors, $key:"primary")
    }

    .input-form:hover {
        border: 1px solid rgb(104, 104, 104);
        box-shadow: none;
        box-shadow: 0px 3px 4px 0px rgba(191, 198, 201, 1);
        border-color: map-get($map: $colors, $key:"primary")
    }


    .input-form:focus~.icons-name,
    .input-form:valid~.icons-name {
        display: block;
        opacity: 1;
    }

}

.input-box {
    padding-top: 20px;
}