.edit-user {
    display: flex;
    justify-content: space-around;

    img {
        width: 200px;
        height: 200px;

    }
}

.validity {
    position: absolute;
    right: 0;
}

.user-profile {
    position: relative;

    .overlay {
        position: absolute;
        display: flex;
        flex-flow: row-reverse;
        background-color: #777777;
        width: 200px;
        height: 200px;
        z-index: 3;
        opacity: 0.2;


    }

    .icons {
        position: absolute;
        opacity: 1;
        right: 0px;
        top: 7px;
        z-index: 10;
        margin-top: 15px;
        margin-right: 10px;

        i {
            color: white;
            border: 3px solid white;
            border-radius: 5px;
            padding: 5px;
        }

        &:hover {
            opacity: 0.8;

            transform: translateX(1px);

            i {
                padding: 6px;
                font-size: 18px;

            }
        }
    }
}

.fileInput {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: 12;

}