@import "assets/styles/colors.scss";

.view-user {
    width: 95%;
    height: 100%;
    padding: 1em;

    .title {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

    .view-user-details {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .view-user--detail {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 50vh;
            flex-basis: 90%;

            .detail-info {
                font-size: 1em;
                color: #000;
                font-weight: 300;
            }
        }

        .image-user {
            flex-basis: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 80%;
                height: auto;
            }

            .buttons {
                margin-top: 1em;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }
        }
    }

}

.buttons {
    .buttons--button {
        flex-basis: 40%;
    }
}



.modal-dialog {
    max-width: 100%;
    width: 1000px;
    height: 100px;
}

.view-document {
    margin-top: 50px;
    border-top: 1px solid black;
}